# Virtual Environment
.venv/

# Python Cache
__pycache__/
*.pyc

# Testing
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Coverage
.coverage
htmlcov/

# Environment Variables
.env

# Logs
logs/
predictions.log

# VS Code
.vscode/*.code-workspace